*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: 'Roboto', sans-serif;
    transition-duration: 300ms;
}
h1{
    font-family: 'Bungee', cursive;
}
body{
    color: white;
    background-color: #0f172a;
    font-family: 'Roboto', sans-serif;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    gap: 24px;
    padding: 24px;
   
}
header,
main,footer{
    width: 800px;
    max-width: 100%;
    margin: 0 auto;
}
header{
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.plusIcon{
    font-size: 1.5rem;
}
.plusIcon:hover{
    color: cyan;
}
#enterTodo form{
    display: flex;
    align-items: stretch;
    border: 1px solid skyblue;
}
#enterTodo input{
    background: transparent;
    outline: none;
    padding: 4px 8px;
    color: white;
    flex: 1;
}
#enterTodo button{
    background: skyblue;
    font-family: 'Bungee', sans-serif;
    border: none;
    outline: none;
    padding: 0 8px;
    color: #0f172a;
    cursor: pointer;
}
#enterTodo button:hover{
    background: transparent;
    color: skyblue;
}
main{
    display: flex;
    flex-direction: column;
    flex: 1;
    gap: 8px;
}